VITE_SUPABASE_URL=https://dqenwebonsanfnndtqff.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRxZW53ZWJvbnNhbmZubmR0cWZmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA5MTI4MjAsImV4cCI6MjA5NjQ4ODgyMH0.-ZTNHXR9ZsqHQYVVnpY0R-h5ycnYzYd8F3PTO_2wmTw
